@import "./variables.css";


@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

.container {

    background: url("../image/bacground-image/background_1.png") no-repeat;
    background-size: cover;
    
}

.wrapper {

    font-family: 'Roboto';
    font-weight: 400;
    width: 1028px;
    margin: 0 auto ;
}

.header {

    padding: 46px 0px 22px;
    color: var(--primary-text-color);

}

.header-wrapper {

    display: flex;
    justify-content: space-between;
}

.header-logo {

    display: flex;
    justify-content: space-between;
}

.header-logo-link {

    display: block;
    width: 53px;
    height: 47px;
    background: url("../image/logo-hous.svg");
}

.header-logo:hover 
.header-logo-link {

    background: url("../image/logo-hous_2.png");

}

.header-logo-text {

    font-family: 'Roboto';
    font-weight: 700;

}

.header-logo__milam {

    font-size: 29px;
    line-height: 29px;

}

.header-logo__holidays {

    font-size: 18px;
    line-height: 18px;

}


.header-logo__text-wrapper {

    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.header-logo:hover 
.header-logo__milam,
.header-logo:hover 
.header-logo__holidays  {

    color: var(--hover-text-color);
}

.header-email-phone {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.header-email, 
.header-phone {

    color: var(--primary-text-color);

}

.header-email:hover, 
.header-phone:hover {

    color: var(--hover-text-color);
}

.section-image {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(220px, auto);
    grid-auto-rows: auto;
    column-gap: 61px;
}

.wrapper-image {

    position: relative;
    width: 300px;

}

/* *надо проверить задали ссылкам блок * */
.wrapper-image__link__image {

    display: block;
    height: 220px;

}

.wrapper-image__image {

    width: 300px;
}

.image-text {

    display: block;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0px 0px;

    margin-bottom: 37px;
}

.wrapper-image-price-text{

    background: var(--hover-background-color);
    position: absolute;
    color: white;
    width: 300px;
    height: 55px;
    top: 56%;
    display: none;

}

.wrapper-image__text {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-image-price-text__from {

    margin: 7px 0px 8px 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;

}

.wrapper-image__price {

    margin: 0px 0px 12px 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.wrapper-image__text-details {

    padding:0 37px 12px 0;
}

.wrapper-image__text-details::after {

    content: ">";
    margin:0 0 14px 16px;
    width: 5px;
    height: 10px;

}


.copyryte-wrapper {

    font-size: 12px;
    line-height: 12px;
/* or 100% */
    text-align: center;
    color: var(--primary-text-color);
    padding: 0px 0px 15px;
}


.wrapper-image:hover .wrapper-image-price-text {

    display: block;

}

.wrapper-image:hover .image-text {

    color: var(--hover-text-color);
}