:root {
    /* * BG COLORS */
    --primary-bg-color : #171717 ; 
    --secondary-bg-color : magenta ;
    --background-second-container: #0E0E0E;
    --hover-background-color:  #F26522;
    
    /* * Background */
    --primary-background : linear-gradient( 30deg, magenta , darkmagenta) ;
    --secondary-background : linear-gradient( 30deg, darkmagenta ,magenta ) ;
    /* --secondary-background : url("") ; */


 
    /* *background-items    класс wrapper-services* */
    --bg-server-items1: #634F2C;
    --bg-server-items2: #B4A385;
    --bg-server-items3: #E4B564;
    --bg-server-items4: #635A4A;
    --bg-server-items5: #B08C4D;
    --bg-server-items6: ;

    /* *background our clients block * */
    --background-mavis-block : rgba(232, 210, 171, 0.76);




   /* * background-color класс wrapper-machinery * */

    --bg-machine__kamaz : #0E0E0E;
    --bg-machine__kamaz-second: #242424;
    --bg-machine__excavator-loader: #1F1F1F;
    --bg-machine__rink: #0A0909;


    /* * Border-color */
    --primary-border-color : magenta;
    --secondary-border-color : darkorchid;
    --third-border-color : orchid;

    /* * Line size */
    --xxl-line-size : 2rem;
    --xl-line-size : 1rem;
    --l-line-size : .8rem;
    --m-line-size : .5rem;
    --s-line-size : .15rem;

    /* * Padding */
    --xxl-padding : 5rem ;
    --xl-padding : 3rem ;
    --l-padding : 2rem ;
    --m-padding : 1.2rem ;
    --s-padding : .8rem ;

    /* * Margin */
    --xxl-margin : 5rem ;
    --xl-margin : 3rem ;
    --l-margin : 2rem ;
    --m-margin : 1.2rem ;
    --s-margin : .8rem ;

    /* * Width */
    --full-width: 100% ;
    --quarter-to-full-width: 75% ;
    --half-to-full-width: 50% ;
    --quarter-past-zero-width: 25% ;

    /* * Fullscreen size */
    --full-height : 100vh ;
    --full-width : 100vw ;

    /* * text-color */
    --primary-text-color : #FFFFFF ;
    --secondary-text-color : aliceblue ;
    --third-text-color : lightblue ;
    --phone-number-color: #D6AF76;
    --header-color-button: #E4B564;
    --text-color: #000000;
    --hover-text-color:  #F26522;

    /* * Font-size */
    --xxl-font-size : 3rem;
    --xl-font-size : 2rem;
    --l-font-size : 1.2rem;
    --s-font-size : .8rem;


}